body {
    background-color: white;
}

nav {
    display: inline;
    list-style-type: none;
    height: 0px;
    width: 0px;
    padding: 4px;
    margin: 10px;
}

li {
    float:left;
    display: block;
    padding: 10px;
}

li:hover {
    color: gray;
}

header {
    font-size: 48pt;
    font-weight: 200;
    padding: 5px;
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    background-color: #e8e4cf;

}

.box1 {
    border: 1px groove darkgray;
    margin: 5px;
    justify-content: center;
    background-color: #e8e4cf;
    font-size: 14pt;
    margin-left: 100px;
    margin-right: 200px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box1 .books {
    display: flex !important;
    justify-content: space-between !important;
}

.logo {
    height: 40px;
    width: 300px;

}